@media only screen and (max-width: 820px) {
  .header {
    display: grid;
    grid-template-columns: auto auto;
  }
  .nav {
    margin-right: 25px;
  }
  .btn > a > button {
    display: none;
  }

  .hero-content > h2 {
    font-size: 3.5rem;
  }
  .model-section > h2 {
    width: 80%;
    font-size: 3.5rem;
  }
  .model-container {
    width: 90%;
  }
  .pricing-section > h2 {
    width: 80%;
    font-size: 3.5rem;
  }
  .feature-section > h2 {
    width: 85%;
    font-size: 2.2rem;
  }
  .promo-section > h2 {
    width: 80%;
    font-size: 3.5rem;
  }
  .promo-content > p {
    font-size: 1rem;
  }
  .promo-content > h3 {
    font-size: 1.6rem;
  }
  .footer-container-1 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .footer-container-2 {
    flex-direction: column;
    justify-content: center;
  }
  .footer-container-2 > p {
    font-size: 1rem;
  }
  .footer-logo {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .nav > ul > a {
    font-size: 1.5rem;
  }
  .nav > ul > a > li {
    margin-left: 1rem;
  }
  .model-section > h2 {
    width: 94%;
    font-size: 2.4rem;
  }
  .model-card {
    padding: 10px 10px 20px;
  }
  .model-section {
    width: 90%;
  }
  .hero-content > h2 {
    font-size: 3rem;
  }
  .hero-content > p {
    font-size: 1.5rem;
  }
  .hero-section {
    margin: 6px;
  }
  .pricing-section > h2 {
    width: 94%;
    font-size: 2.4rem;
  }
  .pricing-section {
    width: 90%;
  }
  .feature-section > h2 {
    width: 94%;
    font-size: 2.4rem;
  }
  .promo-section > h2 {
    width: 94%;
    font-size: 2.4rem;
  }
  .promo-content > p {
    font-size: 0.9rem;
  }
  .promo-content > h3 {
    font-size: 1.4rem;
  }
  .promo-img-1 > img {
    width: 300px;
  }
  .promo-img-2 > img {
    width: 300px;
  }
  .promo-content {
    padding: 20px 20px;
  }
  .footer-container-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer-container-2 {
    flex-direction: column;
    justify-content: center;
  }
  .footer-logo {
    margin-left: 0px;
  }
  
}

@media only screen and (max-width: 420px) {
  .nav {
    margin-right: 6px;
  }
  .nav > ul > a {
    font-size: 1.2rem;
  }
  .nav > ul > a > li {
    margin: 5px;
    margin-left: 0;
  }
  .model-section > h2 {
    width: 85%;
    font-size: 2.2rem;
  }
  .model-card {
    padding: 10px 0px 20px;
  }
  .model-section {
    width: 85%;
  }
  .hero-content > h2 {
    font-size: 3rem;
  }
  .hero-content > p {
    font-size: 1.4rem;
  }
  .model-section {
    width: 85%;
  }
  .feature-section > h2 {
    width: 85%;
    font-size: 2.2rem;
  }
  .promo-section > h2 {
    width: 85%;
    font-size: 2.2rem;
  }
  .promo-content > p {
    font-size: 0.7rem;
  }
  .promo-content > h3 {
    font-size: 1.1rem;
  }
  .promo-img-1 > img {
    width: 280px;
  }
  .promo-img-2 > img {
    width: 280px;
  }
  .promo-content {
    padding: 20px 10px;
  }
  .model-card > div > img {
    width: 250px;
    margin-top: 10px;
    height: 90px;
    object-fit: contain;
  }
  .footer-container-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .footer-container-2 {
    flex-direction: column;
  }
  .footer-logo {
    margin-left: 0px;
  }
  
}
